:root {
  --color-header: #556B2F;
  --color-nav: #6B8E23;
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-DarkSlateGray: #2F4F4F;
  --color-text-DarkGreen: #006400;
  --color-dark: #333;
}
header {
    background: linear-gradient(135deg, var(--color-nav), var(--color-header));
    height: 137px;
    text-align: center;
    line-height: 137px;
    text-transform: uppercase;
    font-size: clamp(2em, 5vw, 3em);
    font-family: "Roboto", sans-serif;
    color: var(--color-text-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-bottom: 5px solid #6B8E23;
}
nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-nav);
    height: 57px;
}
nav div { margin: 0 17px; }
nav div a, nav div span {
    font-family: "Roboto", sans-serif;
    color: var(--color-text-white);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: clamp(1rem, 5vw, 1.5rem);
    cursor: pointer;
    transition: color .3s ease-in;
}
.nav_menu a { margin: 0 17px; }
nav div a:hover, nav div span:hover { color: var(--color-text-DarkGreen); }

/* popup */
.popup-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 10000;
    display: none;
}
.popup-background.open { display: block; }
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 277px;
    min-height: 177px;
    background-color: var(--color-nav);
    padding: 7px;
    border-radius: 17px;
    box-shadow: 3px 3px 7px rgba(120, 120, 120, 0.9);
}
.signin-header {
    color: var(--color-text-white);
    font-size: 27px;
    text-align: end;
}
.signin-header span {
    cursor: pointer;
    transition: color .3s ease-in;
}
.signin-header span:hover { color: var(--color-text-DarkGreen); }
.popup input {
    width: 97%;
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 4px;
}
.popup button { width: 97%;
    background: var(--color-header) ;
    line-height: 34px;
    color: var(--color-text-white);
    padding: 0 20px;
    border-radius: 7px;
    cursor: pointer;
    margin: 17px 4px 0;
    transition: background-color .3s ease-in;
}
.popup button:hover { background-color: var(--color-text-DarkGreen); }

/* разметка страницы */
.body-inner {
    display: flex;
    min-height: 700px;
    background-color: rgb(177, 177, 255);
}
.body-main {
    width:80vw;
    min-height: 700px;
    margin: 3px 0 0 0px;
    padding: clamp(7px, 5vw, 17px);
    position: relative;
    background-color: rgb(177, 255, 177);
}
.body-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 500px;
    border-radius: 0 0 17px 0;
    transform: translateX(-250px);
    transition: transform 0.5s ease-in-out;
    background-color: var(--color-dark);
}
.body-left.open { transform: translateX(0); }
.body-left-header {
    font-size: 37px;
    text-align: end;
    display: flex;
    justify-content: right;
}
.body-left-header div {
    background-color: var(--color-text-white);
    border-radius: 50%;
    margin: 7px;
    width: 37px;
    cursor: pointer;
    transition: color .3s ease-in;
}
.body-left-header div.open {
    transform: scaleX(-1);
}

.body-left-main {
     width: 270px;
     min-height: 500px;
     margin: 0em 1em 0 1em;
     padding: 5px 0em 0 0em;
}
.body-left-main-block {
     width: 250px;
     min-height: 20px;
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.struct-external {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}
.struct-branch {
    background-color: rgb(177, 255, 177);
    width: 6px;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    border-radius: 3px;
}
.struct-inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}
.struct-data {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    flex-wrap: nowrap;
    gap: 3px;
}
.struct-btn-1,
.struct-btn-2,
.struct-task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px 0 2px;
}
.struct-btn-1 svg,
.struct-btn-2 svg,
.struct-task img {
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.struct-btn-path:hover {
    fill: var(--color-nav);
}

.struct-name {
    font-family: "Roboto", sans-serif;
    color: var(--color-text-white);
    font-size: 0.8rem;
    cursor: pointer;
}
.struct-name:hover { color: var(--color-nav); }
.body-right {
    width: 20vw;
    min-height: 700px;
    margin: 3px 0 0 7px;
    padding: clamp(7px, 5vw, 17px);
    background-color: rgb(255, 177, 177);
}



/* Оформление панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #337AB7;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}



.company-selection,
.division-selection {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.company-selection form,
.division-selection form {
    display: flex;
    flex-direction: column;
}

.company-selection label
.division-selection label {
    margin-bottom: 5px;
    font-weight: bold;
}

.company-selection select
.division-selection select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.company-selection button
.division-selection button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* Стили для выпадающего меню */
.dropdown-menu {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

.dropdown-item {
            flex: 1;
            margin: 0 10px;
        }

.dropdown-item a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            color: black;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #d4edda; /* Светло-зеленый цвет */
        }

.dropdown-item a:hover {
            background-color: #c3e6cb; /* Более темный светло-зеленый цвет при наведении */
        }

.dropdown-content {
            display: none;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #ffffff;
            position: absolute;
            z-index: 1;
            margin-top: 5px;
            width: 22%; /* Сделаем ширину списка равной ширине родительского элемента */
        }

.dropdown-item:hover .dropdown-content {
            display: block;
        }
.dropdown-item.show .dropdown-content {
            display: block;
        }