<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}УМЗР{% endblock title %}</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/autorization.js' %}" defer></script>
    <script src="{% static 'js/aside-left.js' %}" defer></script>
<!--    <script src="{% static 'js/structure.js' %}" defer></script>-->
    <script src="{% static 'js/constants.js' %}" defer></script>
    <script src="{% static 'js/structure_tasks.js' %}" defer></script>
    <script src="{% static 'js/structure_comments.js' %}" defer></script>

</head>
<body>
    <div class="popup-background">
        <div class="popup">
            <div class="signin-header"><span>&#10006</span></div>
            <form class="signin-form" action="signin/">
                {% csrf_token %}
                <ul>
                    <li><input type="text" name="login" placeholder="Логин" required></li>
                    <li><input type="password" name="password" placeholder="Пароль" required></li>
                    <li><button type="submit">Войти</button></li>
                </ul>
            </form>
        </div>
    </div>

    <header data-type="">{% block header %}{% endblock header %}</header>
    <nav>
        <div class="nav_logo">
            <img src="{% static 'img/mark.png'%}">
        </div>
        <div class="nav_menu">
            {% if user.is_authenticated %}
            <a href="/tasks/">Задачник</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="/comments/">Комментарии</a>
            {% endif %}
            <a href="#">Menu 2</a>
            <a href="#">Menu 3</a>
        </div>
        <div class="nav_signup">
            {% if user.is_authenticated %}
            <span id="signout">Выйти</span>
            {% else %}
            <span id="signin">Войти</span>
            {% endif %}
        </div>
        {% csrf_token %}
    </nav>
    <section class="body-inner">
        <section class="body-main">
            <aside class="body-left">
                <div class="body-left-header"><div>☞</div></div>
                <div class="body-left-main">
                    <div class="body-left-main-block">
                        {% block leftaside %}{% endblock leftaside %}
                    </div>
                </div>
            </aside>
            <div class="body-data">
                {% block data %}{% endblock data %}
            </div>
        </section>
        <aside class="body-right"></aside>
    </section>
    <footer>
    <!-- Подвал сайта-->
    </footer>

 </body>
</html>
