{% extends "base.html" %}
{% load static %}

{% block title %}Задачи{% endblock title %}
{% block header %}Задачи{% endblock header %}

{% block leftaside %}
{% for company in companies %}
<div class="struct-external">
    <div class="struct-branch"></div>
    <div class="struct-inner">
        <div class="struct-data" data-type="company" data-id="{{ company.id }}">
            <div class="struct-btn-1" title="Подчиненная структура">
                <svg class="struct-btn-1" fill="white"> <path class="struct-btn-path" d="M 0,0 10,0 5,5 Z"/> </svg>
            </div>
            <div class="struct-btn-2" title="Уровень ниже">
                <svg class="struct-btn-2" fill="white"> <path class="struct-btn-path" d="M 0,0 10,0 5,5 10,5 5,10 0,5 5,5 Z"/> </svg>
            </div>
            <div class="struct-task-name">{{ company.name }}</div>
            <div class="struct-task"><img src="/static/img/task.png" title="Добавить задачу"/></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock leftaside %}
{% block data %}
<div class="tasks-header">
    <div id="tasks-header-name">
        <div id="tasks-header-name-title"></div>
        <div id="tasks-header-name-txt"></div>
    </div>
<!--    <div id="tasks-header-all">-->
<!--        <label for="tasks-all">Показать неактуальные</label>-->
<!--        <input id="tasks-all" type="checkbox">-->
<!--    </div>-->

</div>
<div id="tasks-filter">
        <label for="responsible-filter">Ответственный:</label>
        <select id="responsible-filter" onchange="applyFilter()"></select>
        <label for="status-filter">Статус:</label>
        <select id="status-filter" onchange="applyFilter()">
             <option value="Все">Все</option>
             <option value="В работе">В работе</option>
             <option value="Отложена">Отложена</option>
             <option value="Завершена">Завершена</option>
        </select>
</div>
<div id="tasks-data"></div>
{% endblock data %}